---
layout: layout.njk

---

<section class="section">
  <div class="container has-text-centered">
    {% include "header.njk" %}
  </div>
</section>

<div class="columns">

  
  <div class="column is-6">
    <div class="columns is-multiline">

      
      <div class="column is-half">
          <div class="box has-text-centered p-4">
            <figure class="image is-96x96" style="margin: 0 auto;">
              <img src="/images/cloudy.png">
            </figure>
            <h3 class="mt-3">Tuesday (5℃)</h3>
          </div>
      </div>

      
      <div class="column is-half">
          <div class="box has-text-centered p-4">
            <figure class="image is-96x96" style="margin: 0 auto;">
              <img src="/images/cloudy.png">
            </figure>
            <h3 class="mt-3">Wednesday (0℃)</h3>
          </div>
      </div>

      
      <div class="column is-half">
          <div class="box has-text-centered p-4">
            <figure class="image is-96x96" style="margin: 0 auto;">
              <img src="/images/rain.png">
            </figure>
            <h3 class="mt-3">Thursday (3℃)</h3>
          </div>
      </div>

      
      <div class="column is-half">
          <div class="box has-text-centered p-4">
            <figure class="image is-96x96" style="margin: 0 auto;">
              <img src="/images/rain.png">
            </figure>
            <h3 class="mt-3">Friday (1℃)</h3>
          </div>
      </div>

      
      <div class="column is-half">
          <div class="box has-text-centered p-4">
            <figure class="image is-96x96" style="margin: 0 auto;">
              <img src="/images/rain.png">
            </figure>
            <h3 class="mt-3">Saturday (2℃)</h3>
          </div>
      </div>

      
      <div class="column is-half">
          <div class="box has-text-centered p-4">
            <figure class="image is-96x96" style="margin: 0 auto;">
              <img src="/images/cloudy.png">
            </figure>
            <h3 class="mt-3">Sunday (1℃)</h3>
          </div>
      </div>

    </div>
  </div>

  <div class="column is-6">
    <div class="box has-text-centered p-6">

      <figure style="width: 175.7px; margin: 0 auto;">
        <img src="/images/cloudy.png" alt="Today's Weather">
      </figure>

      <h2 class="title is-2 mt-4">Today</h2>
      <h3 class="subtitle is-3">Cloudy</h3>
      <p class="is-size-3 has-text-weight-semibold">Temperature: 1℃</p>
      <p class="is-size-3 mt-4">Wind: 12 km/h</p>
      <p class ="is-size-5 mt-5"><em>Slight chance of rain, likely to be overcast for the whole day.</em></p>

    </div>
  </div>

</div>
