---
layout: layout.njk
eleventyNavigation:
  key: Dashboard
  order: 1
---

<div class="columns is-multiline is-centered">
  <a href="/berlin/">
  <div class="column is-one-third">
    <div class="box has-text-centered p-4">
      <figure class="image" style="width: 190px; margin: 0 auto;">
        <img src="/images/cloudy.png" alt="Berlin">
      </figure>
      <h3 class="mt-3">
        <a href="/signings/">Berlin (1℃)</a>
      </h3>
    </div>
    </a>
  </div>


  <div class="column is-one-third">
    <a href="/london/">
      <div class="box has-text-centered p-4">
        <figure class="image" style="width: 190px; margin: 0 auto;">
          <img src="/images/rain.png" alt="London">
        </figure>
        <h3 class="mt-3">
          <a href="/MOTW/">London (1℃)</a>
        </h3>
      </div>
      </a>
    </a>
  </div>


  <div class="column is-one-third">
    <a href="/dublin/">
      <div class="box has-text-centered p-4">
        <figure class="image" style="width: 190px; margin: 0 auto;">
          <img src="/images/cloudy.png" alt="Dublin">
        </figure>
        <h3 class="mt-3">
          <a href="/fpltips/">Dublin (1℃)</a>
        </h3>
      </div>
      </a>
    </a>
  </div>
  

  <div class="column is-one-third">
    <a href="/paris/">
      <div class="box has-text-centered p-4 mt-5">
        <figure class="image" style="width: 190px; margin: 0 auto;">
          <img src="/images/rain.png" alt="Paris">
        </figure>
        <h3 class="mt-3">
          <a href="/paris/">Paris (1℃)</a>
        </h3>
      </div>
      </a>
    </a>
  </div>


  <div class="column is-one-third">
    <a href="/tokyo/">
      <div class="box has-text-centered p-4 mt-5">
        <figure class="image" style="width: 190px; margin: 0 auto;">
          <img src="/images/cloudy.png" alt="Tokyo">
        </figure>
        <h3 class="mt-3">
          <a href="/berlin/">Tokyo (1℃)</a>
        </h3>
      </div>
      </a>
    </a>
  </div>


  <div class="column is-one-third">
    <div class="box has-text-centered p-4 mt-5">
      <figure class="image" style="width: 190px; margin: 0 auto;">
        <img src="/images/rain.png" alt="New York">
      </figure>
      <h3 class="mt-3">
    <a href="/tokyo/">New York (3℃)</a>
      </h3>
    </div>
    </a>
  </div>

</div>

